# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Flag'
      'submenu': [
        {
          'label': 'Wrap Selection',
          'command': 'flag:wrap'
        },
        {
          'label': 'Toggle'
          'command': 'flag:toggle'
        }
      ]
    ]
  }
]
